@model MrCMS.Web.Apps.References.Entities.Reference
@using System.Web.Mvc.Html
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Edit", "Reference", FormMethod.Post))
{
     @Html.HiddenFor(x => x.Id)
    <fieldset>
        <legend>
            Edit Reference
            <span class="btn-group display-inline pull-right">
                <input type="submit" class="btn-success btn" value="Edit" />
            </span>
        </legend>
        @Html.HiddenFor(item => item.Id)
        <div class="form-group">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Subject)
            @Html.TextAreaFor(x => x.Subject, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Subject)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.UrlPath)
            @Html.TextBoxFor(x => x.UrlPath, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.UrlPath)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Date)
            @Html.EditorFor(x => x.Date, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Date)
        </div>
    </fieldset>
}